/* Backgrounds */

.about-background {
    background: #000000;
    color: #e2e8f0;
}

.about-section {
    padding: 5rem 0;
}

.about-section h2 {
    color: #f1f5f9;
}

.about-section p {
    color: #cbd5e1;
    font-size: 1.25rem;
}