<header class="intro modern-hero">


    <!-- Main Hero Content (Foreground) -->
    <div class="hero-content">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="hero-logo">
                        <img src="/img/shh.png" class="hero-image" alt="Logo">
                    </div>
                    <h1 class="hero-title">Augury One</h1>
                    <p class="hero-subtitle">The platform to scale secure software outcomes.</p>
                    
                    <div class="hero-features">
                        <a href="/guidance/" class="feature-highlight">
                            <div class="feature-icon">
                                <i class="fa fa-code-fork"></i>
                            </div>
                            <div class="feature-content">
                                <h4>Guidance</h4>
                                <p>On-demand software security guidance and assurance services</p>
                            </div>
                        </a>
                        <a href="/intelligence/" class="feature-highlight">
                            <div class="feature-icon">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="feature-content">
                                <h4>Intelligence</h4>
                                <p>Curated advisories for emerging software security threats</p>
                            </div>
                        </a>
                        <a href="/response/" class="feature-highlight">
                            <div class="feature-icon">
                                <i class="fa fa-shield"></i>
                            </div>
                            <div class="feature-content">
                                <h4>Response</h4>
                                <p>Rapid vulnerability response support</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


