<header class="intro bg-settings intro-background">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img src="/img/shh.png" class="img-responsive center-block"
                    style="max-height: 30em; padding-left: 1em">
                    <h1 class="brand-heading">{{ site.sections.intro.title }}</h1>
                    <h4>{{ site.sections.intro.tagline }}</h4>
                    <a href="#services" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
