<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/img/shh.png" class="navbar-logo" alt="Logo">
                <span class="brand-text">Augury One</span>
            </a>
        </div>


        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Services <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/guidance/">Guidance</a></li>
                        <li><a href="/intelligence/">Intelligence</a></li>
                        <li><a href="/response/">Response</a></li>
                    </ul>
                </li>
                <li class="visible-xs mobile-services-header">
                    <span class="navbar-text">Services</span>
                </li>
                <li class="visible-xs mobile-service-item">
                    <a href="/guidance/">Guidance</a>
                </li>
                <li class="visible-xs mobile-service-item">
                    <a href="/intelligence/">Intelligence</a>
                </li>
                <li class="visible-xs mobile-service-item">
                    <a href="/response/">Response</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>