<section id="platform" class="content-section platform-background">
    <div class="container">
        <div class="section-heading">
            <h2>{{ site.sections.platform.title }}</h2>
            <p>{{ site.sections.platform.description }}</p>
        </div>
        {% for subsection in site.sections.platform.subsections %}
            <br>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2>{{ subsection.title }}</h2>
                    <hr>
                </div>
            </div>
            {% for feature in subsection.features %}
                {% assign remainder = forloop.index | minus: 1 | modulo: 2 %}
                {% if remainder == 0 %}
                <div class=row>
                {% endif %}
                    <div class="col-lg-6">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-{{ feature.icon }} font-size-4em text-blue-light"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ feature.name }}</h4>
                                <p>{{ feature.description }}</p>
                            </div>
                        </div>
                    </div>
                {% if remainder == 1 or forloop.last == true %}
                </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</section>