<section id="pricing" class="bg-settings pricing-background content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>{{ site.sections.pricing.title }}</h2>
                <p>{{ site.sections.pricing.description }}</p>
            </div>
        </div>
        <div class="row">
            {% for element in site.sections.pricing.subsections %}
                <div class="col-lg-4 text-center">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="media-heading">{{ element.title }}</h2>
                            <hr>
                            <h3>Reserved at <span class="text-blue-light">{{ element.reserved }}</span></h3>
                            <h4>or</h4>
                            <h3>On-demand at <span class="text-blue-light">{{ element.on_demand }}</span></h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>