<!-- Native GitHub Integration -->
<div class="guidance-feature scroll-animate" data-animation="slideInLeft">
    <!-- Native GitHub Integration Core Content -->
    <div class="feature-content">
        <h3>Native GitHub Integration</h3>
        <p>Engage with security expertise through a simple mention in a GitHub Issue or Pull Request</p>
    </div>
    <div class="feature-animation">
        {% include components/features/animated-svg/guidance/github-integration-svg.html %}
    </div> 
</div> 