<!-- Embedded Response Team -->
<div class="response-feature scroll-animate" data-animation="slideInLeft">
    <!-- Embedded Response Team Core Content -->
    <div class="feature-content">
        <h3>Embedded Response Team</h3>
        <p>We embed directly within an your response structure, augmenting or supplementing existing staff capabilities.</p>
    </div>
    <div class="feature-animation">
        {% include components/features/animated-svg/response/embedded-response-team-svg.html %}
    </div> 
</div> 